
.background {
  background-image: url('../assets/my.background.gif');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 600px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h1 {
  text-align: center;
  color: #fff;
  text-shadow: #000 1px 0 10px;
  font-family: Georgia, serif;
}
p  { text-align: center;
color: #fff;
text-shadow: #000 1px 0 10px;
font-family: Georgia, serif;
}
h2 { font-size: 100%;
text-align: center;
color: #fff;
text-shadow: #000 1px 0 10px;
font-family: Georgia, serif;
}
img {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  border: 5px solid #fff;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  transition: .25s .15s;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  margin-left: -1rem;
  padding: 5rem 0 3rem;
  text-align: center;
 color: #fff;
 text-shadow: #000 1px 0 10px;
 font-family: Georgia, serif;
 
}

dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid(217, 210, 210, 0.3);
  font-weight: bold;
  color: #fff;
  text-shadow: #000 1px 0 10px;
  font-family: Georgia, serif;
}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}

